.containerKYC{
    height: 30vh;
    margin-top: 180px;
    flex-direction: column;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.containerKYC h1{
    color: white;
    font-weight: 900;
    font-size: 22px;
    text-shadow: #0f1213;
}

.containerKYC button{
    background: linear-gradient(157.81deg, #def9fa -43.27%, #bef3f5 -21.24%, #9dedf0 12.19%, #7de7eb 29.82%, #5ce1e6 51.94%, #33bbcf 90.29%);
    padding: 15px;
    border-radius: 10px;
    font-weight: 700;
}

.rutaKYC{
    display: flex;
    gap: 10px;
}