form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.uploads {
    display: flex;
    flex-direction: column;
}

.cc {
    display: flex;
    gap: 10px;
}

.rut {
    display: flex;
    gap: 10px;
}

label{
 
    width: 50px;
}


