/* Auditoria.module.css */
.Auditoria {
  padding: 20px;
}

.Auditoria table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
}

.Auditoria th, .Auditoria td {
  border: 1px solid #ddd;
  padding: 12px; /* Ajustar el padding para un mejor aspecto */
  text-align: left;
  color: #ffffff; /* Color del texto */
}

.Auditoria th {
  background-color: #333; /* Fondo de los encabezados */
  font-weight: bold;
  text-transform: uppercase; /* Convertir el texto a mayúsculas */
}

.Auditoria td {
  background-color: #1a1a1a; /* Fondo de las celdas */
}

.Auditoria select {
  padding: 4px;
  box-sizing: border-box;
  width: auto; /* Ajustar ancho según contenido */
  background-color: #333; /* Fondo del select */
  color: #ffffff; /* Color del texto del select */
  border: 1px solid #555; /* Bordes del select */
  border-radius: 4px; /* Bordes redondeados */
}

/* Estilo adicional para mejorar el aspecto general */
.Auditoria tr:nth-child(even) {
  background-color: #2c2c2c; /* Fondo alternativo para filas */
}

.Auditoria tr:hover {
  background-color: #444; /* Fondo al pasar el cursor */
}

.estadoButton {
  padding: 4px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  font-size: 10px;
}

.aprobado {
  background-color: #4CAF50; /* Verde para aprobado */
}

.enProceso {
  background-color: #00BFFF; /* Azul cielo para en proceso */
}
