.Auditoria {
  padding: 10px; /* Reducir el relleno general */
}

.Auditoria h1{
  font-size: 40px;
}

.Auditoria table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  background-color: #ffffff; /* Fondo de la tabla */
  table-layout: fixed; /* Ancho fijo para las columnas */
}

.Auditoria th, .Auditoria td {
  border: 1px solid #ddd;
  padding: 10px; /* Reducir el relleno de las celdas */
  text-align: center;
  color: #000000; /* Color del texto */
  font-size: 12px; /* Reducir el tamaño de la fuente */

}

.Auditoria th {
  background-color: #f2f2f2; /* Fondo de los encabezados */
  font-weight: bold;
  font-size: 12px; /* Reducir el tamaño de la fuente */
}

.Auditoria td {
  background-color: #ffffff; /* Fondo de las celdas */
}

.Auditoria select {
  padding: 2px; /* Reducir el relleno del select */
  box-sizing: border-box;
  width: 50px; /* Ancho fijo para el select */
  background-color: #ffffff; /* Fondo del select */
  color: #000000; /* Color del texto del select */
  border: 1px solid #ddd; /* Bordes del select */
  border-radius: 4px; /* Bordes redondeados */
  text-align: center; /* Centrar el texto */
  font-size: 12px; /* Reducir el tamaño de la fuente */
}

/* Estilo adicional para mejorar el aspecto general */
.Auditoria tr:nth-child(even) {
  background-color: #f9f9f9; /* Fondo alternativo para filas */
}

.Auditoria tr:hover {
  background-color: #f1f1f1; /* Fondo al pasar el cursor */
}

.estadoButton {
  padding: 2px; /* Reducir el relleno */
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  font-size: 10px; /* Reducir el tamaño de la fuente */
}

.aprobado {
  background-color: #4CAF50; /* Verde para aprobado */
}

.enProceso {
  background-color: #00BFFF; /* Azul cielo para en proceso */
}

.nameContainer {
  display: flex;
  flex-direction: column;
  max-width: 150px; /* Limitar el ancho del contenedor de nombres */
  word-wrap: break-word; /* Permitir que el texto se divida en varias líneas */
}

.selectUnderName {
  margin-top: 2px; /* Reducir la separación entre el nombre y el select */
  width: 50px; /* Ancho fijo para el select debajo del nombre */
  font-size: 12px; /* Reducir el tamaño de la fuente */
}

.optionSi {
  background-color: #4CAF50; /* Verde para Sí */
  color: #ffffff;
}

.optionNo {
  background-color: #FF6347; /* Rojo para No */
  color: #ffffff;
  font-weight: bold; /* Texto en negrita para No */
}

/* Ancho fijo para la columna de nombres */
.Auditoria .nombre-col {
  width: 150px; /* Ancho fijo para la columna de nombres */
  max-width: 150px; /* Ancho máximo para la columna de nombres */
  word-wrap: break-word; /* Permitir que el texto se divida en varias líneas */
}
