.table-container {
    display: block !important;
    width: 100% !important;
    overflow: auto !important; /* Activa tanto desplazamiento horizontal como vertical en el contenedor */
    max-height: 80vh !important; /* Limita la altura máxima del contenedor y activa el desplazamiento vertical */
}

.table {
    min-width: 3000px !important; /* Asegura un ancho mínimo para la tabla que activará el desplazamiento horizontal */
    width: 100% !important;
    border-collapse: collapse !important;
}

th, td {
    border: 1px solid #0464a4 !important;
    padding: 8px !important;
    text-align: left !important;
}

th {
    background-color: #045c9c !important;
    color: white !important;
    position: sticky !important;
    top: 0 !important;
}

tbody tr:nth-child(odd) {
    background-color: #abd3eb !important;
}

tbody tr:nth-child(even) {
    background-color: #94b4c4 !important;
}

::-webkit-scrollbar {
    width: 10px !important;
    height: 10px !important;
}

::-webkit-scrollbar-track {
    background: #f1f1f1 !important;
}

::-webkit-scrollbar-thumb {
    background: #888 !important;
    border-radius: 8px !important;
}

::-webkit-scrollbar-thumb:hover {
    background: #555 !important;
}

.scrollButton {
    margin: 0 10px !important;
    padding: 8px 16px !important;
    background-color: #045c9c !important;
    color: white !important;
    border: none !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    transition: background-color 0.3s ease !important;
}

.scrollButton:hover {
    background-color: #0464a4 !important;
}
