.preguntasFrecuentesPersonalizada {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.preguntasFrecuentesPersonalizada h1 {
    font-weight: bolder;
    font-size: 25px;
}

.renderPreguntasPrincipal {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

.cardPreguntasFrecuentesPersonalizada {
    margin-top: 20px;
    padding: 20px;
    width: 500px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
}

.preguntaPersonalizada, .respuestaPersonalizada {
    margin: 10px 0;
}

.resaltadoPersonalizada {
    font-weight: bold;
    color: yellow;
}

.signoInterrogacionPersonalizada {
    color: red;
}

/* Ejemplo de estilos únicos para cada pregunta y respuesta */
.pregunta-0CSS {
    color: blue;
}

.respuesta-0CSS {
    color: green;
}

.pregunta-1CSS {
    color: purple;
}

.respuesta-1CSS {
    color: orange;
}

.pregunta-2CSS {
    color: cyan;
}

.respuesta-2CSS {
    color: magenta;
}

.pregunta-3CSS {
    color: lime;
}

.respuesta-3CSS {
    color: pink;
}

/* Agrega más estilos según sea necesario */
